.cell_number{
    color: #d1be2f;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}

.choose_language{
    font-size: 16px;
    font-weight: 700;
}

.login_button{
    background-color: #4ACC1C;
        padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
